[S3E] 
MemSize=20971520
MemSize6=10485760
MemSize7=10485760
MemSizeDebug=20971520
FixScreenOrientation=2
SplashScreen=splash.jpg
SplashScreenWidth=480
SplashScreenHeight=320
SplashScreenBkR=1
SplashScreenBkG=1
SplashScreenBkB=1
iPhoneScaleFactor=200

[GX]
DataCacheSize=1048576

[GL]
EGL_RED_SIZE=8
EGL_GREEN_SIZE=8
EGL_BLUE_SIZE=8
EGL_ALPHA_SIZE=8

[RESMANAGER] 
ResBuildStyle=gles1
#ResBuildStyle=gles1-atitc
